<#@ template hostspecific="true" language="C#" #>
<#@ include file="EF.Utility.CS.ttinclude" #>
<#@ output extension=".cs" #>
<#
  var efHost = (EfTextTemplateHost)Host;
  string entityName = efHost.EntityType.Name;
  string entityLowerName = entityName.ToLower();
#>
using System.Collections.Generic;
using Avrin.TCS.DomainModels.Models;

namespace Avrin.TCS.BLL.DTOs
{
	public partial class <#= entityName #>DTO
  {
  }
}
